<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h5>Основная информация</h5>
            <hr>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Odio morbi quis commodo odio aenean sed. Neque vitae tempus quam pellentesque nec nam
            aliquam. Proin sagittis nisl rhoncus mattis rhoncus urna neque viverra. Et netus et malesuada fames ac
            turpis egestas sed tempus. Non arcu risus quis varius quam quisque id diam. Vel orci porta non pulvinar
            neque. Praesent elementum facilisis leo vel fringilla est ullamcorper. Gravida cum sociis natoque penatibus
            et magnis dis. Velit ut tortor pretium viverra suspendisse potenti nullam ac. Malesuada fames ac turpis
            egestas sed tempus urna et pharetra. Enim sit amet venenatis urna cursus. Ut porttitor leo a diam
            sollicitudin. Quis viverra nibh cras pulvinar mattis nunc sed.
        </div>
    </div>
</div>